<h1 class="d-flex justify-content-center fw-bold mt-2"><%= t('password_resets.new.title') %></h1>
<div class="min-vh-100">
  <div class="d-flex justify-content-center mt-5">
    <%= form_with url: password_resets_path, class: "form-control w-25", local: true do |f| %>
      <p class="fw-bold"> <%= t('password_resets.enter_email') %> <span class="text-danger">*</span></p>
      <%= f.text_field :email, value: params[:email], class: "form-control", required: true %>
      <div class="d-grid gap-2">
        <%= f.submit t("continue_button"), class: "btn btn-lg btn-success mt-2 h-5" %>
      </div>
    <% end %>
  </div>
</div>