<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">

    <% @categories.each do |tmp_category| %>
      <% @tmp_courses = Course.where(category_id: tmp_category.id).limit(4) %>

      <% if @tmp_courses.exists? %>
        <h3 class="mt-4 mb-2"><%= tmp_category.name %></h3>

        <div class="row mb-4">
          <% @tmp_courses.each do |tmp_course| %>
            <div class="col col-4">
              <div class="card">
                <img src="<%= url_for(tmp_course.display_picture) %>" class="card-img-top" alt="..." width="300" height="200">
                <h5 class="card-header"><%= tmp_course.title %></h5>
                <div class="card-body">
                  <p><strong>Teacher:</strong> </span> <span><%= User.find(tmp_course.teacher_id).name %></p>
                  <p><strong>Level: </strong></span> <span><%= tmp_course.level.titleize %></p>
                  <p><strong>Duration:</strong> </span> <span><%= tmp_course.total_duration %></p>
                  <p class="card-text fw-bold text-success"></p>
                  <p><strong>Price: </strong>
                    <span class="badge text-bg-success">$<%= tmp_course.price %></span>
                    <!--                    <span class="badge text-bg-success">$<%#= @course.price %></span>-->
                  </p>

                  <% if @user %>
                    <% if Payment.exists?(user_id: @user.id, course_id: tmp_course.id) %>
                      <% @lesson_count = tmp_course.lessons.count %>
                      <% @lesson_completed = @user.video_watches.joins(:lesson).where(lessons: { course_id: tmp_course.id }).count %>

                      <% if @lesson_count == @lesson_completed %>
                        <div class="d-flex gap-2">
                          <%= link_to "Course Completed",
                                      course_path(tmp_course),
                                      class: "badge text-bg-success p-2 link-offset-2 link-underline link-underline-opacity-0" %>
                          <a href="#" class="btn btn-primary btn-sm" onclick="showPdfModal('<%= url_for(tmp_course.completion_certificate) %>'); return false;">
                            Completion Certificate
                          </a>
                        </div>
                      <% else %>
                        <%= link_to "Continue Course", course_path(tmp_course), class: "btn btn-secondary btn-sm" %>
                      <% end %>

                    <% else %>
                      <%= link_to "View Course", course_path(tmp_course), class: "btn btn-primary btn-sm" %>
                      <%= link_to "Enroll Course", new_course_payment_path(tmp_course), class: "btn btn-success btn-sm" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
