<h6>Title <span style="color: red;">*</span></h6>
<div class="d-flex flex-row align-items-center mb-2">
<div data-mdb-input-init class="form-outline flex-fill mb-0">
    <%= f.text_field :title, class: "form-control", placeholder: "Course title", required: true %>
</div>
</div>

<h6>Description <span style="color: red;">*</span></h6>
<div class="d-flex flex-row align-items-center mb-2">
<div data-mdb-input-init class="form-outline flex-fill mb-0">
    <%= f.text_area :description, class: "form-control", placeholder: "Course description", required: true %>
</div>
</div>

<h6>Category <span style="color: red;">*</span></h6>
<%= f.select :category_id, @categories.pluck(:name, :id), { prompt: "Select a category" }, class: "form-select mb-2", required: true %>



<h6>Level <span style="color: red;">*</span></h6>
<select class="form-select mb-2">
<option selected disabled>Select level</option>
<% Course.levels.keys.each do |level| %>
    <option value="<%= level %>" <%= 'selected' if level == @course.level %>><%= level.capitalize %></option>
<% end %>
</select>

<h6>Language <span style="color: red;">*</span></h6>
<div class="d-flex flex-row align-items-center mb-2">
<div data-mdb-input-init class="form-outline flex-fill mb-0">
    <%= f.text_field :language, class: "form-control", placeholder: "Course language", required: true %>
</div>
</div>

<h6>Duration <span style="color: red;">*</span></h6>
<div class="d-flex flex-row align-items-center mb-2">
<div data-mdb-input-init class="form-outline flex-fill mb-0 me-3">
    <%= f.number_field :duration_hours, value: @course.duration_hours, class: "form-control", placeholder: "Hours",min: "0", required: true %>
</div>
<div data-mdb-input-init class="form-outline flex-fill mb-0 ms-3">
    <%= f.number_field :duration_minutes, value: @course.duration_minutes, class: "form-control", placeholder: "Minutes",min: "0", required: true %>
</div>
</div>

<h6>Price ($) <span style="color: red;">*</span></h6>
<div class="d-flex flex-row align-items-center mb-2">
<div data-mdb-input-init class="form-outline flex-fill mb-0">
    <%= f.number_field :price, class: "form-control", placeholder: "Course price", step: "1",min: "0", required: true %>
</div>
</div>

<div class="mb-3">
<h6>
    Upload Completion Certificate (PDF) <span style="color: red;">*</span>
    
    <% if course.completion_certificate.attached? %>
        <%= link_to "View Existing", rails_blob_path(course.completion_certificate, disposition: "inline"),target: "_blank"%>
    <% end %>
    
</h6>
<%= f.file_field :completion_certificate, class: "form-control", accept: "application/pdf" %>
</div>

<div class="mb-3">
<h6>
    Upload Achievement Certificate (PDF) <span style="color: red;">*</span>
    <% if course.achievement_certificate.attached? %>
        <%= link_to "View Existing", rails_blob_path(course.achievement_certificate, disposition: "inline"),target: "_blank"%>
    <% end %>
</h6>
<%= f.file_field :achievement_certificate, class: "form-control", accept: "application/pdf" %>
</div>