<div class="container">

  <p class="card card-header fw-bold h1 text-center mb-3"><%= t('courses.enrollments.title') %></p>

  <table class="table table-striped table-hover">

    <% if @courses.any? %>
      <tr class="h5">
        <th scope="col"><%= t('courses.index.title') %></th>
        <th scope="col"><%= t('courses.index.teacher') %></th>
        <th scope="col"><%= t('courses.index.category') %></th>
        <th scope="col"><%= t('courses.index.price') %></th>
        <th scope="col"><%= t('courses.index.actions') %></th>
      </tr>

      <% @courses.each do |tmp_course| %>
        <tr>
          <td class="h6"><%= tmp_course.title.titleize %></td>
          <td class="h6"><%= User.find(tmp_course.teacher_id).name %></td>
          <td class="h6"><%= Category.find(tmp_course.category_id).name %></td>
          <td class="h6"><%= tmp_course.price %> $</td>
          <td class="h6">
            <%= link_to t('courses.view_course'), course_path(tmp_course), class: "btn btn-sm btn-primary me-2" %>
            <%= link_to t('reviews.index.title'),
                        course_reviews_path(tmp_course),
                        class: "btn btn-outline-dark btn-sm"
            %>

          </td>
        </tr>
      <% end %>
    <% else %>
      <div class="alert alert-warning" role="alert">
        <h1 class="text-center text-danger"><%= t('courses.index.no_courses') %></h1>
      </div>
    <% end %>
  </table>
</div>
