<div class="container mt-4">
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="text-center"><%= @course.title %></h4>
    </div>
  </div>
  <%= form_with(model: @review, url: course_reviews_path, local: true) do |form| %>
    <%= form.hidden_field :course_id, value: @course.id %>
    <%= form.hidden_field :student_id, value: @user.id %>

    <div class="mb-5">
      <label class="h4">Rating:</label>
      <div data-coreui-toggle="rating" data-coreui-allow-clear="true" data-coreui-value="<%= @review.rating || 1 %>"></div>
      <!-- Add this to your form -->

      <%= f.number_field :rating, in: 1..5, step: 1, id: 'rating-input', value: @review.rating, required: true %>
      <%= form.label :rating, "Rating" %>
      <%= form.select :rating, options_for_select(1..5, selected: @review.rating), {}, { class: "form-select" } %>


      <%= form.hidden_field :rating, id: 'rating-input', value: @review.rating %>
    </div>

    <div class="mb-3">
      <label class="h4">Comment:</label>

      <%= form.text_area :comment,
                         class: 'form-control',
                         style: "height: 250px"
      %>
    </div>

    <%= form.submit "Submit Review", class: "btn btn-primary" %>
  <% end %>

</div>